.orderTitle{
    width: 100%;
    font-size: 32px;
    /* height: 217px; */
    padding: 13px;
    align-content: center;
    text-align: center;
    font-weight: 400;
}

.subOrder{
    width: 50%;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
    margin-top: 14%;
}
.para{
    width: 60%;
    font-size: unset;
    margin-left: 20%;
    margin-top: 2%;
}
.details{
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    height: 200px;
    border: 1px solid gray;

}
.tableTitle{

    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: whitesmoke;
    font-size: 25px;
    border-bottom: 1px solid gray;
    height: 30%;
}
.subDetails{
    display: flex;
    flex-direction: row;
    /* margin-left: 10%; */
    width: 100%;
    height: 139px;
    
    text-align: center;
      
}