.main{
    width: 100%;
    height: 100%;
    background-color: white;
}

.upper{
    width: 100%;
    height: 30%;
    background-color:#a03037;
    display: flex;
    
}
.dashboard{
    width: 80%;
    height: 30%;
    background-color:#a03037;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.title{
    width: 10%;
    /* height: 71%; */
    font-size: fit-content;
    margin: 2%;
    color: white;
    font-size: large;
    
   
}
.search{
width: 50%;
height: 60%;
background-color: white;
margin: 2%;
padding: 3px;
border-radius: 2px;
}
.subMain{
    width: 100%;
    height: 100%;
    background-color: white;
}
.lower{
    width: 80%;
    height: 100%;
    margin-left: 10%;
    }

.card{
    width: 15%;
    /* padding: 3px; */
    height: 332px;
    display: flex;
    flex-direction: column;
    border: 0px solid lightgray;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.12);
}
.imageSpace{
    width:100%;
    background-color:#f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookImg{
    width: 47%;
    height: 150px;
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookName{
    font-size: 16px;
    padding-left: 15px;
    color: black;
    font-weight: 500;
    padding-top: 4px;
    padding-bottom: 4px;
}
.authorName{
    font-size: 12px;
    padding-left: 15px;
    color: #9b9898;
}
.buttonBuyNow{
    width: 60%;
    font-size: 16px;
    height: 27px;
    border-radius: 2px;
    background-color: #a03037;
    color: white;
    text-align: center;
    padding-top: 8px;
    margin-left: 20%;
    margin-top: 7%;
}