
.customerDetails{
    font-size: medium;
    padding-bottom: 1.5%;
    padding-left: 2%;
}
.lowerP{
    width: 55%;
    height: 100%;
    margin-left: 10%;
    margin-top: 4%;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 20px;
    color:   gray;
    font-weight: 500;

}
.content{
    width: 70%;
      /* height: 10%; */
      display: flex;
      padding-left: 2%;
}
.name{
    margin-right: 2%;
    margin-bottom: 2%;
    width: 45%;
}
.phonenumber{
    width: 45%;
}
.continue{
    width: 20%;
    height: 38px;
    background-color: #3371b5;
    color: white;
    /* justify-content: center; */
    text-align: center;
    padding-top: 9px;
    font-weight: 400;
    border-radius: 2px;
    margin-top: 45px;
    margin-right: 2%;
}
.address{
    margin-bottom: 2%;
    widows: 770px;
    padding-left: 2%;
}
