.div{
    display:inline-block;
    width:20%;
     margin:20px;
    /*height:300px; */
}
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 0px solid lightgray;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.12);
}